* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: rgba(47, 45, 45, 0.618);
    --branco: white;
    --cor-botoes: rgba(27, 25, 25, 0.551);
    --preto: black;
}

body {
    background-image: url(../img/fundo.jpg);
    background-size: cover;
}

.fundo-inicial {
    background-image: url(../img/i569020.webp);
    background-size: cover;
}

.catalogo-fundo {
    background: none;
    background-color: var(--cor-fundo);
}

.div1 {
    width: 400px;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px var(--preto);
    color: var(--branco);
    margin: 0 auto;
    display: flex;
    padding: 200px auto;
    margin-top: 200px;
    flex-direction: column;
}

.div3 {
    margin: 30px;
}

p {
    text-align: left;
    margin: 20px;
    color: var(--branco);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
}

h1 {
    padding: 10px;
}

input {
    text-align: left;
    margin: 20px;
    color: var(--branco);
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    border-radius: 6px;
    background-color: var(--cor-botoes);
    border: none;
}

.entrar {
    background-color: var(--preto);
    color: var(--branco);
    padding: 10px;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
}


.foto {
    margin-top: 10px;
}

.logo {
    width: 80px;
}

header {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

}

header>div>a {
    text-decoration: none;
    color: var(--branco);
    text-shadow: 2px 2px 3px var(--preto);
}

.slogan {
    margin-top: 190px;
    color: var(--branco);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 3px var(--preto);
}

main>div>img {
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px var(--preto);

}

main {
    margin-top: 90px;
}

main>div>img:hover {
    transform: scale(1.1);
}

main>div {
    display: flex;
    overflow: scroll;
    margin: 20px;
    margin-top: 50px;

}

main>div::-webkit-scrollbar {
    display: none;
}

main>h2 {
    color: var(--branco);
    text-shadow: 2px 2px 3px var(--preto);
    margin: 10px;
}

footer {
    display: flex;
    margin-top: 316px;
}

footer>p {
    margin: 0 auto;
}

footer>p>a {
    text-decoration: none;
    color: darkred;
}

.loja {
    background: none;
    background-color: var(--cor-fundo);
}

@media (max-width:500px) {
    .fundo-inicial {
        background-image: url(../img/i569020.webp);
        height: 654px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        padding: 5px;
    }

    .slogan {
        text-align: center;
    }

    main {
        margin-top: 120px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .entrar {
        margin-left: 10px;
    }

    .logo {
        padding-right: 10px;
    }

}